#awoop{
    color: blueviolet;
    background-color: cornsilk;
    font-family: "Javanese Text";
    font-size:xx-large;
}
#oop{

    color: firebrick;
}
#header{

    color: chartreuse;
    background-color: indianred;

}